<?xml version="1.0" encoding="utf-8"?>
<sqlMapConfig
  xmlns="http://ibatis.apache.org/dataMapper"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <!--以上为固定格式,从这里开始以下是用户配置项    -->
  <!--<properties resource="../../database.config"/>-->
  <!-- 指定一个属性源，相当与设置一些属性变量，该文件请查看下面   -->

  <settings>
    <!-- 当该选项为true时，你在调用指定的映射时你总是必须给出完整的名称例如:queryForObject(“Namespace.statement.Id”);    -->
    <setting useStatementNamespaces="false"/>
    <!-- 该选项指示是否使用缓存，默认为true -->
    <setting cacheModelsEnabled="true"/>
    <setting validateSqlMap="false" />
  </settings>

  <!--指定数据源 ${datasource} ${database} ${userid} ${password} 为DataBase.config定义的值-->
  <providers resource="providers.config"/>
  <database>
    <provider name="MySql6.4.3"/>
    <!--<dataSource name="localhost" connectionString="Server=localhost;Port=3306;uid=root;pwd=;Database=markdb;CharSet=utf8;"/>-->
    <dataSource name="localhost" connectionString="Server=localhost;Port=3306;uid=root;pwd=root;Database=pathologydb;CharSet=utf8;"/>
  </database>

  <sqlMaps>
    <sqlMap resource="..\configure\User.xml"/>
    <sqlMap resource="..\configure\Role.xml"/>
    <sqlMap resource="..\configure\CameraRecipe.xml"/>
    <sqlMap resource="..\configure\FunctionRole.xml"/>
    <sqlMap resource="..\configure\Jobs.xml"/>
    <sqlMap resource="..\configure\Functions.xml"/>
    <sqlMap resource="..\configure\Recipes.xml"/>   
    <sqlMap resource="..\configure\ScanRecipe.xml"/>
    <sqlMap resource="..\configure\ControlRecipe.xml"/>
    <sqlMap resource="..\configure\UserLevel.xml"/>
    <sqlMap resource="..\configure\Category.xml"/>
    <sqlMap resource="..\configure\Types.xml"/>
    <sqlMap resource="..\configure\SysInfo.xml"/>
    <sqlMap resource="..\configure\MarkCell.xml"/>
    <sqlMap resource="..\configure\MarkArea.xml"/>
    <sqlMap resource="..\configure\Cell.xml"/>
    <sqlMap resource="..\configure\CellAIResult.xml"/>
  </sqlMaps>
</sqlMapConfig>
